<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <servlet-class>controller.LogoutStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCustomerServlet</servlet-name>
        <servlet-class>controller.CreateNewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCustServlet</servlet-name>
        <servlet-class>controller.UpdateCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustServlet</servlet-name>
        <servlet-class>controller.DeleteCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTicketServlet</servlet-name>
        <servlet-class>controller.CreateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <servlet-class>controller.SearchServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCarServlet</servlet-name>
        <servlet-class>controller.CreateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarServlet</servlet-name>
        <servlet-class>controller.UpdateCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>controller.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/LoginStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStaffServlet</servlet-name>
        <url-pattern>/LogoutStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCustomerServlet</servlet-name>
        <url-pattern>/CreateNewCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/SearchCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCustServlet</servlet-name>
        <url-pattern>/updateCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustServlet</servlet-name>
        <url-pattern>/DeleteCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTicketServlet</servlet-name>
        <url-pattern>/CreateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <url-pattern>/SearchServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCarServlet</servlet-name>
        <url-pattern>/CreateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarServlet</servlet-name>
        <url-pattern>/UpdateCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
</web-app>
